# -----------------------------------------------------------------------------
# Mandatory Parameters (must be defined externally)
# -----------------------------------------------------------------------------

# ENVIRONMENT VARIABLES
# Define these secrets as environment variables
#
# - TF_VAR_aws_access_key                 Your AWS access token
# - TF_VAR_aws_secret_key                 Your AWS secret key

variable "aws_access_key" {}
variable "aws_secret_key" {}

# -----------------------------------------------------------------------------
# DEFAULT VARIABLES (AWS)

# The default EC2 region.
# For the region you select there should be an AMI
# defined in the "amis" section (below).
#
# You can change the region on the command-line using `-var`
# i.e. `terraform apply -var 'aws_region=eu-west-2'`.
variable "aws_region" {
  description = "EC2 Region for the VPC"
  default = "{{ cluster.region }}"
}

variable "aws_zone" {
  description = "EC2 Zone (for things like Volumes)"
  default = "{{ cluster.zone }}"
}

variable "cluster_id" {
  description = "A unique ID for this cluster on AWS"
  default = "{{ cluster.id }}"
}

# The Cluster Node AMIs, indexed by region (that were built with Packer)
variable "bastion_ami" {
  description = "The image AMI"
  default = "{{ cluster.bastion_image.id }}"
}

# -----------------------------------------------------------------------------
# DEFAULT VARIABLES (Generic)

variable "deployment" {
  description = "The name of the Deployment"
  default = "{{ deployment }}"
}

variable "keypair_name" {
  description = "The name of the Key Pair, as known by AWS"
  default = "{{ cluster.keypair_name }}"
}

variable "resource_tag" {
  description = "The tag applied to all resources we'll be creating"
  default = "{{ cluster.name_prefix }}"
}

variable "openshift_dir" {
  default = "../../../openshift"
}

# -----------------------------------------------------------------------------
# DEFAULT VARIABLES (Bastion Node)

variable "bastion_image_type" {
  default = "{{ bastion.type }}"
}
