# Expected ssh private key-pair files
*okdo-keypair
*okdo-keypair.pub

# Protect the user's SSL certificates
# and provider-specific root-files
ca-bundle.crt
cert.crt
private.key
gce-credentials.json

# Translated (jinja2) material...
okd/inventories/**/inventory.yaml
okd/inventories/**/inventory.yaml.tpl

# Packer/Yacker material
yacker/**/*.json
.packer.d/

# Provider Variables
provider-env/setenv.sh
provider-env/setenv-aws*.sh
provider-env/setenv-gce.sh
provider-env/setenv-os.sh

# Terraform material...
terraform/aws/bastion.tf
terraform/aws/data.tf
terraform/aws/elastic-ip.tf
terraform/aws/infra.tf
terraform/aws/master.tf
terraform/aws/node.tf
terraform/aws/output.tf
terraform/aws/security-groups.tf
terraform/aws/s3.tf
terraform/aws/template.tf
terraform/aws/variables.tf
terraform/aws/vpc.tf

terraform/gce/bastion.tf
terraform/gce/infra.tf
terraform/gce/master.tf
terraform/gce/node.tf
terraform/gce/output.tf
terraform/gce/s3.tf
terraform/gce/template.tf
terraform/gce/variables.tf

terraform/**/*.svg
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
**/.terraform/
**/.terraform.*

# Ansible material...
ansible/bastion/inventory.yaml
ansible/bastion/bastion.sh
ansible/post-okd/inventory.yaml
ansible/post-destroy/aws/host_vars/localhost/vars.yaml
ansible/post-destroy/gce/host_vars/localhost/vars.yaml
ansible/pre-okd/inventory
**/facts/
**/*.retry
**/ansible.log

# Python
*.pyc

# IDEA material...
.idea/

# OSX material...
.DS_Store

# Other stuff...
.bash_history

# The following created by .ignore support plugin (hsz.mobi)...

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/
cmake-build-release/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
