# -----------------------------------------------------------------------------
# Compute-node definitions
# -----------------------------------------------------------------------------

{% for node in cluster.nodes %}

resource "aws_instance" "node_{{ node.name }}" {
  ami = "${data.aws_ami.cluster.id}"
  instance_type = "{{ node.type }}"
  count = "{{ node.count }}"
  key_name = "${var.keypair_name}"
  availability_zone = "${element(data.aws_availability_zones.available.names, count.index)}"
  vpc_security_group_ids = ["${aws_security_group.openshift.id}",
                            "${aws_security_group.ssh.id}",
                            "${aws_security_group.outbound-general.id}"]
  subnet_id = "${module.vpc.private_subnets[0]}"
  source_dest_check = false

  root_block_device {
    volume_size = 10
    volume_type = "gp2"
  }

  tags {
    Name = "${var.name_tag}-node-${format("%03d", count.index + 1)}-{{ node.name }}"
    "kubernetes.io/cluster/{{ cluster.id }}" = "owned"
  }
}

{% endfor %}
