# -----------------------------------------------------------------------------
# State Storage (AWS S3)
# -----------------------------------------------------------------------------

{% if okd.terraform_shared_state is defined and okd.terraform_shared_state.s3 is defined %}
terraform {
  backend "s3" {
    bucket = "{{ okd.terraform_shared_state.s3.bucket }}"
    key = "{{ okd.terraform_shared_state.s3.key }}"
    region = "{{ okd.terraform_shared_state.s3.region }}"
    dynamodb_table = "{{ okd.terraform_shared_state.s3.table }}"
  }
}
{% endif %}
