# -----------------------------------------------------------------------------
# State Storage (AWS S3)
# -----------------------------------------------------------------------------

{% if terraform.shared_state.s3 is defined %}
terraform {
  backend "s3" {
    bucket = "{{ terraform.shared_state.s3.bucket }}"
    key = "{{ terraform.shared_state.s3.key }}"
    region = "{{ terraform.shared_state.s3.region }}"
    dynamodb_table = "{{ terraform.shared_state.s3.tale }}"
  }
}
{% endif %}
