# -----------------------------------------------------------------------------
# Templating
# -----------------------------------------------------------------------------

# -------------
# OKD Inventory
# -------------

data "template_file" "okd_inventory" {
  template = "${file("${var.okd_dir}/inventories/${var.inventory_dir}/inventory.yaml.tpl")}"

  vars {

    # Console/API and default route suffix values...

    {% if cluster.public_hostname %}
    public_hostname = "{{ cluster.public_hostname }}"
    {% elif cluster.master.fixed_ip_id %}
    public_hostname = "${aws_eip_association.master.0.public_ip}"
    {% else %}
    public_hostname = "${aws_eip.master.public_ip}"
    {% endif %}

    {% if cluster.default_subdomain %}
    default_subdomain = "{{ cluster.default_subdomain }}"
    {% else %}
    {% if cluster.infra.fixed_ip_id %}
    default_subdomain = "${aws_eip_association.infra.public_ip}"
    {% else %}
    default_subdomain = "${aws_eip.infra.public_ip}"
    {% endif %}
    {% endif %}

    # Masters...

    {% if cluster.master.fixed_ip_id %}
    master1 = "${aws_eip_association.master.0.public_ip}"
    {% else %}
    master1 = "${aws_eip.master.public_ip}"
    {% endif %}
    master1_hostname = "${aws_instance.master.0.private_dns}"

    {% for item in range(1, cluster.master.count) %}
    master{{ item + 1 }} = "${aws_instance.master.{{ item }}.private_ip}"
    master{{ item + 1 }}_hostname = "${aws_instance.master.{{ item }}.private_dns}"
    {% endfor %}

    # Infrastructure nodes...

    {% if not cluster.master.is_infra is defined or not cluster.master.is_infra %}
    {% if cluster.infra.fixed_ip_id %}
    infra1 = "${aws_eip_association.infra.public_ip}"
    {% else %}
    infra1 = "${aws_eip.infra.public_ip}"
    {% endif %}
    infra1_hostname = "${aws_instance.infra.0.private_dns}"
    {% endif %}

    {% if not cluster.master.is_infra is defined or not cluster.master.is_infra %}
    {% for item in range(1, cluster.infra.count) %}
    infra{{ item + 1 }} = "${aws_instance.infra.{{ item }}.private_ip}"
    infra{{ item + 1 }}_hostname = "${aws_instance.infra.{{ item }}.private_dns}"
    {% endfor %}
    {% endif %}

    # Compute nodes...

    {% set node_id = namespace(a=1) %}
    {% for node in cluster.nodes %}
    {% for item in range(node.count) %}
    node{{ '%03d'|format(node_id.a) }} = "${aws_instance.node_{{ node.name }}.{{ item }}.private_ip}"
    node{{ '%03d'|format(node_id.a) }}_hostname = "${aws_instance.node_{{ node.name }}.{{ item }}.private_dns}"
    {% set node_id.a = node_id.a + 1 %}
    {% endfor %}
    {% endfor %}

    # The CLI node (public-facing)...
    # Ideally a bastion, but can be a master instance.
    # The user expects this to have the oc command-line tools installed.

    {% if not cluster.master.is_bastion is defined or not cluster.master.is_bastion %}
    cli-node = "${aws_instance.bastion.public_ip}"
    {% else %}
    {% if cluster.master.fixed_ip_id %}
    cli-node = "${aws_eip_association.master.0.public_ip}"
    {% else %}
    cli-node = "${aws_eip.master.public_ip}"
    {% endif %}
    {% endif %}

  }
}

resource "local_file" "okd_inventory" {
  content = "${data.template_file.okd_inventory.rendered}"
  filename = "${var.okd_dir}/inventories/${var.inventory_dir}/inventory.yaml"
}

# ------------------
# Post-OKD Inventory
# ------------------

data "template_file" "post_okd_inventory" {
  template = "${file("${var.ansible_dir}/post-okd/inventory.yaml.tpl")}"

  vars {
    cli-node = "${aws_instance.master.0.private_dns}"
    admin-password = "${var.okd_admin_password}"
    ansible-user = "centos"
  }
}

resource "local_file" "post_okd_inventory" {
  content = "${data.template_file.post_okd_inventory.rendered}"
  filename = "${var.ansible_dir}/post-okd/inventory.yaml"
}

# ---------------------
# The Bastion Inventory
# ---------------------

data "template_file" "bastion-inventory" {
  template = "${file("${var.ansible_dir}/bastion/inventory.yaml.tpl")}"

  vars {
    # The Bastion instance
    # (either a separate machine or the master)
    {% if cluster.master.is_bastion is defined and cluster.master.is_bastion %}
    {% if cluster.master.fixed_ip_id %}
    bastion = "${aws_eip_association.master.0.public_ip}"
    {% else %}
    bastion = "${aws_eip.master.public_ip}"
    {% endif %}
    {% else %}
    bastion = "${aws_instance.bastion.0.public_ip}"
    {% endif %}

    # The Master
    {% if cluster.master.fixed_ip_id %}
    master1 = "${aws_eip_association.master.0.public_ip}"
    {% else %}
    master1 = "${aws_eip.master.public_ip}"
    {% endif %}
  }
}

resource "local_file" "bastion-inventory" {
  content = "${data.template_file.bastion-inventory.rendered}"
  filename = "${var.ansible_dir}/bastion/inventory.yaml"
}

# -----------------------------
# Bastion Environment Variables
# -----------------------------

data "template_file" "sh" {
  template = "${file("${var.ansible_dir}/bastion/bastion.sh.tpl")}"

  vars {
    aws_access_key = "${var.aws_access_key}"
    aws_secret_key = "${var.aws_secret_key}"
    okd_admin_password = "${var.okd_admin_password}"
    okd_developer_password = "${var.okd_developer_password}"
    deployments_directory = "${var.deployments_directory}"
  }
}

resource "local_file" "bastion-sh" {
  content = "${data.template_file.sh.rendered}"
  filename = "${var.ansible_dir}/bastion/bastion.sh"
}
