---

# The provisioning script...
# commands to run on the source image to generate the target image.
# Here we build a base OS suitable for an OpenShift 3.9 deployment.

provisioners:

- type: shell
  inline:

  - sudo yum -y install wget git net-tools yum-utils bind-utils
  - sudo yum -y install iptables-services ntp bridge-utils bash-completion
  - sudo yum -y install kexec-tools sos psacct pyOpenSSL etcd flannel

  - sudo yum -y install docker-1.13.1
  - sudo rpm -V docker-1.13.1

  - sudo systemctl enable docker
  - sudo systemctl start docker
  - sudo yum -y install NetworkManager
  - sudo systemctl enable NetworkManager
  - sudo systemctl start NetworkManager

  # Add Ansible

  - sudo easy_install pip
  - sudo pip install ansible==2.6.7

{% block specifics %}
{% endblock %}
