{% extends 'inventory.root' %}

{# --- masters ------------------------------------------------------------- #}

{% block masters %}
        masters:
          hosts:
{% for item in range(1, cluster.master.count + 1) %}
            ${master{{ item }}}:
{% endfor %}
{% endblock %}

{# --- etcd ---------------------------------------------------------------- #}

{% block etcd %}
        etcd:
          hosts:
            ${master1}:
{% endblock %}

{# --- lb ------------------------------------------------------------------ #}

{# --- nfs ----------------------------------------------------------------- #}

{# --- nodes --------------------------------------------------------------- #}

{% block nodes %}
        nodes:
          hosts:
{%- for item in range(cluster.master.count) %}
            ${master{{ '%d'|format(item + 1) }}}:
              openshift_hostname: ${master{{ '%d'|format(item + 1) }}_hostname}
{%- if cluster.master.is_infra is defined and cluster.master.is_infra %}
{%- if cluster.master.is_compute_node is defined and cluster.master.is_compute_node %}
              openshift_node_group_name: 'node-config-all-in-one'
{%- else %}
              openshift_node_group_name: 'node-config-master-infra'
{%- endif %}
{%- else %}
{%- if cluster.master.is_compute_node is defined and cluster.master.is_compute_node %}
              openshift_node_group_name: 'node-config-master-compute'
{%- else %}
              openshift_node_group_name: 'node-config-master'
{%- endif %}
{%- endif %}
{%- endfor -%}

{% if cluster.master.is_infra is not defined or not cluster.master.is_infra %}
{%- for item in range(cluster.infra.count) %}
            ${infra{{ '%d'|format(item + 1) }}}:
              openshift_hostname: ${infra{{ '%d'|format(item + 1) }}_hostname}
{%- if cluster.infra.is_compute_node is defined and cluster.infra.is_compute_node %}
              openshift_node_group_name: 'node-config-infra-compute'
{%- else %}
              openshift_node_group_name: 'node-config-infra'
{%- endif %}
{%- endfor %}
{%- endif %}

{%- set node_id = namespace(a=1) -%}
{%- for node in cluster.nodes %}
{%- for item in range(node.count) %}
            ${node{{ '%03d'|format(node_id.a) }}}:
              openshift_hostname: ${node{{ '%03d'|format(node_id.a) }}_hostname}
              openshift_node_group_name: 'node-config-{{ node.node_group }}'
{%- set node_id.a = node_id.a + 1 -%}
{%- endfor %}
{%- endfor %}
{% endblock %}

{# --- glusterfs ----------------------------------------------------------- #}

{% block glusterfs %}
{% endblock %}

{# --- node_groups --------------------------------------------------------- #}

{% block node_groups %}
{%- if cluster.node_groups is defined and cluster.node_groups -%}
{%- for node_group in cluster.node_groups -%}
{% if node_group.is_compute_node %}
            { 'name': 'node-config-{{ node_group.name }}',
              'labels': ['node-role.kubernetes.io/compute=true',
                         '{{  node_group.label }}'] },
{% else %}
            { 'name': 'node-config-{{ node_group.name }}',
              'labels': ['{{  node_group.label }}'] },
{% endif %}
{%- endfor -%}
{%- endif %}
{% endblock %}
