# -----------------------------------------------------------------------------
# Bastion instance definitions
# -----------------------------------------------------------------------------

{% if not cluster.master.is_bastion -%}
resource "google_compute_instance" "bastion" {

  name = "${var.name_tag}-bastion"
  machine_type = "${var.bastion_image_type}"

  # Following allows Terraform to stop the instance to update its properties.
  # i.e. if you change the machine type etc.
  allow_stopping_for_update = "true"

  boot_disk {
    initialize_params {
      image = "${var.bastion_image_name_prefix}"
      size = "20"
      type = "pd-ssd"
    }
  }

  network_interface {
    network = "${google_compute_network.okd.name}"
    access_config {
    }
  }

  metadata {
    sshKeys = "centos:${file("../../${var.keypair_name}.pub")} centos"
    ssh_user = "centos"
  }

  service_account {
    email = "${var.gce_project_number}-compute@developer.gserviceaccount.com"
    scopes = ["cloud-platform"]
  }
}
{% endif -%}
