# -----------------------------------------------------------------------------
# Infrastructure instance definitions
# -----------------------------------------------------------------------------

{% if not cluster.master.is_infra -%}
resource "google_compute_instance" "infra" {

  name = "${var.name_tag}-infra-${format("%d", count.index + 1)}"
  machine_type = "${var.infra_image_type}"
  count = "${var.infra_count}"

  # Following allows Terraform to stop the instance to update its properties.
  # i.e. if you change the machine type etc.
  allow_stopping_for_update = "true"

  boot_disk {
    initialize_params {
      image = "${var.cluster_image_name_prefix}"
      size = "20"
      type = "pd-ssd"
    }
  }

  network_interface {
    network = "${google_compute_network.okd.name}"
    access_config {
      nat_ip = "${var.infra_fixed_ip_id}"
    }
  }

  metadata {
    sshKeys = "centos:${file("../../${var.keypair_name}.pub")} centos"
    ssh_user = "centos"
  }

  service_account {
    email = "${var.gce_project_number}-compute@developer.gserviceaccount.com"
    scopes = ["cloud-platform"]
  }
}
{% endif -%}
