# -----------------------------------------------------------------------------
# Mandatory Parameters (must be defined externally)
# -----------------------------------------------------------------------------

# ENVIRONMENT VARIABLES
# Define these secrets as environment variables
#
# - TF_VAR_keypair_name                   The cluster keypair name
# - TF_VAR_gce_project                    The GCE project name
# - TF_VAR_gce_project_number             The GCE project number
# - TF_VAR_gce_user                       The GCE project user (email)
#
# - TF_VAR_okd_admin_password             The initial OpenShift admin user password

variable "keypair_name" {}
variable "gce_project" {}
variable "gce_project_number" {}
variable "gce_user" {}
variable "okd_admin_password" {}

# -----------------------------------------------------------------------------
# DEFAULT VARIABLES (Google)

# The default region.
# For the region you select there should be an image available.
#
# You can change the region on the command-line using `-var`
# i.e. `terraform apply -var 'gce_region=europe-west3'`.
variable "gce_region" {
  description = "GCE Region for the cluster"
  default = "{{ cluster.region }}"
}

# -----------------------------------------------------------------------------
# DEFAULT VARIABLES (Generic)

variable "okd_developer_password" {
  description = "A password for the developer user. If not defined the developer user is not created"
  default = ""
}

variable "ssh_user" {
  description = "The SSH user in the cluster"
  default = "{{ cluster.ssh_user }}"
}

variable "deployments_directory" {
  description = "An alternative (optional) deployment directory."
  default = ""
}

variable "inventory_dir" {
  description = "The directory containing the OpenShift inventory files"
  default = "{{ okd.inventory_dir }}"
}

variable "name_tag" {
  description = "The tag applied to all resources we'll be creating"
  default = "{{ cluster.name_tag }}"
}

variable "ansible_dir" {
  default = "../../ansible"
}

variable "okd_dir" {
  default = "../../okd"
}

variable "cluster_image_name_prefix" {
  default = "{{ cluster.image_prefix }}"
}

# -----------------------------------------------------------------------------
# DEFAULT VARIABLES (OKD MASTER Nodes)

variable "master_count" {
  description = "The number of OpenShift Master nodes. Odd, usually 1, 3, 5."
  default = {{ cluster.master.count }}
}

variable "master_fixed_ip_id" {
  description = "An pre-allocated Elastic IP, or blank"
  default = "{{ cluster.master.fixed_ip_id }}"
}

variable "master_image_type" {
  default = "{{ cluster.master.type }}"
}

variable "master_is_bastion" {
  default = "{{ cluster.master.is_bastion }}"
}

# -----------------------------------------------------------------------------
# DEFAULT VARIABLES (OKD INFRASTRUCTURE Nodes)

variable "infra_count" {
  description = "The number of OpenShift infrastructure nodes, at least 1."
  default = "{{ cluster.infra.count }}"
}

variable "infra_fixed_ip_id" {
  description = "An pre-allocated Elastic IP, or blank"
  default = "{{ cluster.infra.fixed_ip_id }}"
}

variable "infra_image_type" {
  default = "{{ cluster.infra.type }}"
}

# -----------------------------------------------------------------------------
# DEFAULT VARIABLES (Bastion Node)

{% if cluster.bastion %}
variable "bastion_image_type" {
  default = "{{ cluster.bastion.type }}"
}

variable "bastion_image_name_prefix" {
  default = "{{ cluster.bastion.image_prefix }}"
}
{% endif %}